$opensans-font-path: "../fonts/open_sans";

// Font-face for Open Sans Regular
@font-face {
    font-family: 'Open Sans';
    src: url('#{$opensans-font-path}/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Font-face for Open Sans Bold
  @font-face {
    font-family: 'Open Sans';
    src: url('#{$opensans-font-path}/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  // Font-face for Open Sans Italic
  @font-face {
    font-family: 'Open Sans';
    src: url('#{$opensans-font-path}/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  // Font-face for Open Sans Bold Italic
  @font-face {
    font-family: 'Open Sans';
    src: url('#{$opensans-font-path}/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

// Applying Open Sans font to the body
body {
    font-family: 'Open Sans', sans-serif;
}