@import "../scss/theme.scss"; // manual theme import
// ^^^^^^^^^^^^^^^^
// css breaks normal page, exclusive to log page only

body {
    overflow: hidden;
}
  
.content-container {
  display: flex;
  height: 100vh;
}

.left-column {
  background-image: linear-gradient(360deg, rgb(26 26 26), rgb(35 35 35));
}

.right-column {
  flex-grow: 1;
  background-color: $primary;
}

.scrollable-content {
  height: calc(100vh - 90px); // substract by navbars
  @include media-breakpoint-down(md) {
    // additional height substraction bc mobile issue
    height: calc(100vh - 135px);
  }

  overflow-y: auto;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 0;
  padding-bottom: 0;
}

.left-column {
  .scrollable-content {
    padding: 15px;
  }
}

/* Ensure the left column is fully hidden */
div.left-column.hidden {
  transform: translateX(-100%);
  width: 0;
  overflow: hidden;
  display: none;
}

/* Expand right column when left is hidden */
.hide-left .right-column {
  width: 100%;
}
  
.light-icon-form {
  color-scheme: dark;
}

.mr7 {
  margin-right: 7px;
}

.log-time {
  color: $light;
}

a.log-name {
  color: $secondary-text-emphasis;
  &:hover {
      color: white;
      text-shadow: rgb(72, 65, 255) 5px 0px 13px, rgb(72, 65, 255) -5px 0px 13px;
  }
}

a.log-link {
  background-color: rgb(0 61 121);
  color: #2ceaff;
  &:hover {
    text-shadow: rgb(0, 206, 255) -10px 0px 6px, white 0px 0px 1px, rgb(0, 206, 255) 10px 0px 21px, rgb(0, 206, 255) 0px 5px 6px, rgb(0, 206, 255) 0px -5px 6px;
    color: white;
  }
}

.log-action-text {
  color: rgb(167 167 167);
  font-style: italic;
}

a.navbar-brand.navbar.log {
  cursor: default;
}

.toggle-menu-sidebar {
  padding: 4px !important;
  border-radius: 0 !important;
}

@include media-breakpoint-down(md) {
  div.right-column.visible {
   display: none !important; 
  }
  div.left-column.visible {
    width: 100%;
  }
}
