.pagination {
  flex-wrap: nowrap !important;
  overflow-x: hidden;
  justify-content: center;
}

.page-item .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  min-width: 2.2rem;
  white-space: nowrap;
}