/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #101010;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    box-shadow: none;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}