// Example usage with a cyan glow
@include fog-glow-keyframes(fog_secondary, $secondary);
@include fog-glow-keyframes(fog_extra, $extra);

a.default-link {
  text-decoration: none;
  color: $secondary;
  position: relative;

  &:hover {
    color: white;
    animation: fog_secondary 6s ease-in-out infinite;
  }
}

a.extra-link {
  text-decoration: none;
  color: $extra;
  position: relative;

  &:hover {
    color: white;
    animation: fog_extra 6s ease-in-out infinite;
  }
}

.border-glow {
  box-shadow: 1px 0px 6px $secondary, 0px 0px 0px #fff, 0px 0px 10px $secondary;
}

.button-grid {
  justify-content: center;
}