a.default-link {
    text-decoration: none;
    color: #fff !important;
    text-shadow: rgb(0, 206, 255) -10px 0px 6px, white 0px 0px 1px, rgb(0, 206, 255) 10px 0px 21px, rgb(0, 206, 255) 0px 5px 6px, rgb(0, 206, 255) 0px -5px 6px;
}