@import "./fonts.scss";
@import "./variables.scss";

@import "./navbar.scss";
@import "./listGroup.scss";
@import "./cards.scss";
@import "./scrollbar.scss"; 
@import "./form.scss"; 
@import "./loadingBar.scss";

@import '~bootstrap/scss/bootstrap';
