@import "./fonts.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "./style.scss";
@import "./navbar.scss";
@import "./listGroup.scss";
@import "./cards.scss";
@import "./scrollbar.scss"; 
@import "./form.scss"; 
@import "./loadingBar.scss";
@import "./pagination.scss";


@import '~bootstrap/scss/bootstrap';