@import "./fonts.scss";
@import "./variables.scss";

@import "./navbar.scss";
@import "./listGroup.scss";
@import "./cards.scss";
@import "./scrollbar.scss"; 
@import "./form.scss"; 
@import "./loadingBar.scss";

@import '~bootstrap/scss/bootstrap';


div.log-db-info {
    background-color: black !important;
    div.container.innerDiv {
      padding-top: 1rem !important;
      p {
        margin: 0 !important;
      }
      /* App.css */
      table {
        table-layout: auto; /* allow the table to shrink to fit content */
        width: auto;        /* table width is determined by its content */
      }
  
      table {
        table-layout: auto; /* Auto size based on content */
        width: auto; /* Prevent forced expansion */
        max-width: max-content; /* Ensure it only takes as much space as needed */
        display: inline-table; /* Prevent table from stretching full width */
        border-collapse: collapse; /* Remove unnecessary spacing */
      }
      
      table th,
      table td {
        white-space: nowrap; /* Prevent wrapping */
        padding: 2px 5px; /* Minimal padding */
        text-align: left; /* Align text properly */
        font-size: 14px; /* Reduce font size slightly */
      }
      
      .container {
        display: flex;
        justify-content: center; /* Center the table */
      
      }
    }
  }