$body-color: white;

// Background
$primary: rgb(12, 12, 12);
$secondary: rgb(0, 206, 255);
$info: rgb(0, 110, 255);
$dark: rgb(37, 37, 41);
$light: rgb(99,99,99);

// Foreground
$primary-text-emphasis: white;
$secondary-text-emphasis: $secondary;
$light-text-emphasis: $light;

// Navbar
$navbar-light-brand-color: white;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;
$navbar-light-color: $light-text-emphasis;