$body-color: white;

// Background
$primary: rgb(12, 12, 12);
$secondary: rgb(0, 206, 255);
$info: rgb(0, 110, 255);
$dark: rgb(37, 37, 41);
$light: rgb(99,99,99);

// Foreground
$primary-text-emphasis: white;
$secondary-text-emphasis: $secondary;
$light-text-emphasis: $light;

// Navbar
$navbar-light-brand-color: white;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;
$navbar-light-color: $light-text-emphasis;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-border-width: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

// Cards
$card-bg: $primary;
$card-title-color: $secondary;
$card-border-color: white;